#background {
    width: 100%; 
    height: 82px; 
    position: fixed; 
    left: 0px; 
    top: 0px;
    z-index: 3;
    background-color: #7092BE;
    background-repeat:repeat;
    box-shadow:0 0 10px #7DFDFE;
    -webkit-box-shadow:0 0 10px #7DFDFE;
    -moz-box-shadow:0 0 10px #7DFDFE;
}
body{
    background:url('http://i.imgur.com/j41R39S.jpg');
}
.sloth{
    position: fixed;
    top: 0%;left: 1%;
    text-decoration: none;
    width:70px; 
    height:60px;
    content: url(http://i.imgur.com/O23t68w.jpg);
}
.homepage{
    text-align:left; 
    margin-top: 160px;
    margin-left: 60px;
    color:white;
    font-family:Bradley hand ITC;
}
.alignleft {
    float: left;
    text-align:left;
    width:33.33333%;
    position:fixed;
    top:6.5%; left:6%;
    text-decoration: none;
    font-size:200%;
    color: white;
    font-family:Bradley hand ITC;
    max-width: 100px;
}
.aligncenter {
    float: left;
    text-align:center;
    width:60%;
    position:relative;
    top:9%;left: 18%;
}

.alignright {
    float: right;
    text-align:right;
    width:33.33333%;
    position:fixed;
    top:4%; right:1%;
}
.test{
    text-decoration: none;       
    padding: 1px 1px 1px 1px;
    background-repeat:repeat;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    color:white;
    font-size:150%; 
    font-family:Bradley hand ITC;
}
.test:hover { 
    box-shadow:0 0 10px #7DFDFE;
    -webkit-box-shadow:0 0 10px #7DFDFE;
    -moz-box-shadow:0 0 10px #7DFDFE;
}
.test1{
    vertical-align: -7px;
    padding-left:-30px;
}
.btn{
    padding-right:0;
    padding: 5px 5px 5px 5px; 
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width:90px; 
    height:30px;
    background-color: white;
    color:#7092BE;
    border: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-family: Bradley hand ITC;
    text-decoration: none; 
    font-size: 16px;
    vertical-align: 1px;
}
.btn:hover {    
    box-shadow:0 0 10px #7DFDFE;
    -webkit-box-shadow:0 0 10px #7DFDFE;
    -moz-box-shadow:0 0 10px #7DFDFE;
}
.btn1 {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    width:50px; 
    height:24px;
    vertical-align:1px;  
    background: white url('http://i.imgur.com/klvF7Kv.png') no-repeat center;
    background-size: 30px 30px;
}
.btn2 {
    border: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    width:40px; 
    height:24px;
    vertical-align:-6px;  
    max-width:40px;
}
.btn3 {
    border: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    width:40px; 
    height:24px;
    vertical-align:-5px;  
    max-width:40px;
}

.stretch {
    width:100%;
    height:100%;
}
br {
    line-height:10px;
} 
.login {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.login:target {
    opacity:1;
    pointer-events: auto;
}

.login > div {
    position: relative;
    top: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    width: 300px;
    height: 300px;
    box-shadow:0 0 10px #7DFDFE;
    -webkit-box-shadow:0 0 10px #7DFDFE;
    -moz-box-shadow:0 0 10px #7DFDFE;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    background-color: #7092BE;
    background-repeat:repeat;
    font-family: Bradley hand ITC;
    color: white;
    text-decoration: none;
} 
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;

}
.close:hover { 
    background: #7092BE; 
    box-shadow:0 0 10px #7DFDFE;
    -webkit-box-shadow:0 0 10px #7DFDFE;
    -moz-box-shadow:0 0 10px #7DFDFE;
}
input:focus,textarea:focus,select:focus{
    box-shadow:0 0 10px #7DFDFE;
    -webkit-box-shadow:0 0 10px #7DFDFE;
    -moz-box-shadow:0 0 10px #7DFDFE;
    outline: none !important;
}
input:hover,textarea:hover,select:hover{
    box-shadow:0 0 10px #7DFDFE;
    -webkit-box-shadow:0 0 10px #7DFDFE;
    -moz-box-shadow:0 0 10px #7DFDFE;
    outline: none !important;
}
.register {
    text-decoration: none;   
    position: relative;
    top: 140px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 5px 5px 5px;
    background-color: #7092BE;
    background-repeat:repeat;
    background-position: right; 
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    width: 400px;
    height: 420px;
    font-family: Bradley hand ITC;
    color: white;
    font-size: 150%;
    box-shadow:0 0 10px #7DFDFE;
    -webkit-box-shadow:0 0 10px #7DFDFE;
    -moz-box-shadow:0 0 10px #7DFDFE;
}
.about {
    text-decoration: none;
    padding-right:0;
    position: relative;
    top: 140px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 5px 5px 5px;
    background-color: #7092BE;
    background-repeat:repeat;
    background-position: right; 
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    width: 500px;
    height: 500px;
    font-family: Bradley hand ITC;
    color:white;
    font-size:110%;
    box-shadow:0 0 10px #7DFDFE;
    -webkit-box-shadow:0 0 10px #7DFDFE;
    -moz-box-shadow:0 0 10px #7DFDFE;
}
.help {
    text-decoration: none;
    padding-right:0;
    position: relative;
    top: 140px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 5px 5px 5px;
    background-color: #7092BE;
    background-repeat:repeat;
    background-position: right; 
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    width: 400px;
    height: 400px;
    font-family: Bradley hand ITC;
    color:white;
    font-size:150%;
    box-shadow:0 0 10px #7DFDFE;
    -webkit-box-shadow:0 0 10px #7DFDFE;
    -moz-box-shadow:0 0 10px #7DFDFE;
}
.profile {
    z-index: 1;
    text-decoration: none;
    padding-right:0;
    top: 140px;
    text-align: center;
    float: left;
    width:33.33333%;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 5px 5px 5px;
    background-color: #7092BE;
    background-repeat:repeat;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width: 250px;
    height: 200px;
    font-family: Bradley hand ITC;
    color:white;
    font-size:120%;
    box-shadow:0 0 10px #7DFDFE;
    -webkit-box-shadow:0 0 10px #7DFDFE;
    -moz-box-shadow:0 0 10px #7DFDFE;
}
.username{
    vertical-align: 10px;
    text-align: center;
    font-weight:bolder;
}
.cart { 
    overflow:auto;
    text-decoration: none;
    position: relative;
    top: 140px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 5px 5px 5px;
    background-color: #7092BE;
    background-repeat:repeat;
    background-position: right; 
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width: 700px;
    height: 400px;
    font-family: Bradley hand ITC;
    color:white;
    font-size:150%;
    box-shadow:0 0 10px #7DFDFE;
    -webkit-box-shadow:0 0 10px #7DFDFE;
    -moz-box-shadow:0 0 10px #7DFDFE;
}
.receipt {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.receipt:target {
    opacity:1;
    pointer-events: auto;
}
.receipt > div { 
    margin: 10% auto;
    text-align: center;
    text-decoration: none;
    position: relative;
    top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 20px 13px 20px;
    background-color: #7092BE;
    background-repeat:repeat;
    background-position: right; 
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    width: 800px;
    height: 400px;
    font-family: Bradley hand ITC;
    color:white;
    font-size:150%;
    box-shadow:0 0 10px #7DFDFE;
    -webkit-box-shadow:0 0 10px #7DFDFE;
    -moz-box-shadow:0 0 10px #7DFDFE;
}
.receipt1 { 
    overflow:auto;
    text-decoration: none;
    position: relative;
    top: 140px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 5px 5px 5px;
    background-color: #7092BE;
    background-repeat:repeat;
    background-position: right; 
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width: 750px;
    height: 500px;
    font-family: Bradley hand ITC;
    color:white;
    font-size:150%;
    box-shadow:0 0 10px #7DFDFE;
    -webkit-box-shadow:0 0 10px #7DFDFE;
    -moz-box-shadow:0 0 10px #7DFDFE;
}

textarea {
    width: 200px;
    height: 50px;
    max-width: 400px; 
    max-height: 180px;
    border:0; 
    padding:5px; 
    margin:0 0 20px; 
    -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2); 
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2); 
    border-radius: 3px;
}
select {
    padding: 2px 1px 3px 3px;
    width: 50px;
    border-radius: 2px;
    vertical-align:4px;
    border:0; 
}
input{
    text-align: center;
    width:200px; 
    height:30px;
    border:0; 
}
::-webkit-scrollbar { 
    width: 10px; 
    border-radius: 20px;
}  
/*::-webkit-scrollbar-track {  
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #7092BE;
    border-radius: 10px;
}  */
::-webkit-scrollbar-thumb {  
    background-color: #ccc; 
    -webkit-box-shadow: inset 0 0 6px #ccc;
    border-radius: 20px;
}  
::-webkit-scrollbar-thumb:hover {  
    background-color: #aaa;  
}  

.admin {
    overflow-y: auto;
    text-decoration: none;   
    position: relative;
    top: 140px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 5px 5px 5px;
    background-color: #7092BE;
    background-repeat:repeat;
    background-position: right; 
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    width: 800px;
    height: 500px;
    box-shadow:0 0 10px #7DFDFE;
    -webkit-box-shadow:0 0 10px #7DFDFE;
    -moz-box-shadow:0 0 10px #7DFDFE;

}
.box {
    overflow-y: auto;
    text-decoration: none;   
    position: relative;
    top: 140px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 5px 5px 5px;
    background-color: #7092BE;
    background-repeat:repeat;
    background-position: right; 
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    width: 1000px;
    height: 700px;
    box-shadow:0 0 10px #7DFDFE;
    -webkit-box-shadow:0 0 10px #7DFDFE;
    -moz-box-shadow:0 0 10px #7DFDFE;

}
.Clean1 {
    background: white url(http://i.imgur.com/os72Z2Q.jpg) no-repeat top center;
    background-size:130px 90px;
}
.Clean2 {
    background: white url(http://i.imgur.com/I54YfhL.png) no-repeat top center;
    background-size:130px 90px;
}
.Clean3 {
    background: white url(http://i.imgur.com/xTHhkc9.jpg) no-repeat top center;
    background-size:130px 90px;
}
.Clean4 {
    background: white url(http://i.imgur.com/pKvXpx3.jpg) no-repeat top center;
    background-size:130px 90px;
}
.imgText { 
    text-decoration: none;
    margin-top: 64px; 
    text-align:center;
    padding:25px 0 0 0; 
    font-size:90%;
    display:inline-block;
    font-weight:bolder;
}
.imgText1 { 
    text-decoration: none;
    margin-top: 64px; 
    text-align:center;
    padding:25px 0 0 0; 
    font-size:90%;
    display:inline-block;
    font-weight:bolder;
}
.drink {
    text-decoration: none;
    width:140px; 
    height:140px;
    display:inline-block;
    border:2px solid #fafafa; 
    box-shadow:0 0 10px #7DFDFE;
    -webkit-box-shadow:0 0 10px #7DFDFE;
    -moz-box-shadow:0 0 10px #7DFDFE;
    outline: none;
    color:#7092BE;
}

.Food1 {
    background: url(http://i.imgur.com/azDIMfZ.jpg), url(http://i.imgur.com/HXOaZ9a.jpg), url(http://i.imgur.com/ASWOVeK.png),
        url(http://i.imgur.com/FZLw5My.jpg), url(http://i.imgur.com/hvtDyTz.jpg), url(http://i.imgur.com/hGSc8Nw.png), 
        url(http://i.imgur.com/aWJhn4a.jpg),  url(http://i.imgur.com/1qeYW70.jpg);
    background-color: white;
    background-position: top left,top center,top right,
        center left,center center,center right,
        bottom left,bottom right;
    background-repeat: no-repeat;
    background-size:40px 40px;
}
.Food2 {
    background: url(http://i.imgur.com/isIbtR0.jpg), url(http://i.imgur.com/drPeNkv.jpg), url(http://i.imgur.com/zXHp81s.jpg),
        url(http://i.imgur.com/hM3UQcX.jpg), url(http://i.imgur.com/mWS5yeO.jpg), url(http://i.imgur.com/190MDJU.jpg), 
        url(http://i.imgur.com/aWJhn4a.jpg), url(http://i.imgur.com/o4ZYFA6.jpg);
    background-color: white;
    background-position: top left,top center,top right,
        center left,center center,center right,
        bottom left,bottom right;
    background-repeat: no-repeat;
    background-size:40px 40px;
}
.Food3 {
    background: url(http://i.imgur.com/LxUJEZz.jpg), url(http://i.imgur.com/Gx2pJxI.jpg), url(http://i.imgur.com/FyDrMKz.jpg),
        url(http://i.imgur.com/JMDKaQu.jpg), url(http://i.imgur.com/adVfLps.jpg), url(http://i.imgur.com/4PCxPmW.jpg), 
        url(http://i.imgur.com/aWJhn4a.jpg), url(http://i.imgur.com/yBAg3NV.jpg);
    background-color: white;
    background-position: top left,top center,top right,
        center left,center center,center right,
        bottom left,bottom right;
    background-repeat: no-repeat;
    background-size:40px 40px;
}
.Food4 {
    background: url(http://i.imgur.com/5s5Op2i.jpg), url(http://i.imgur.com/0R7zVVz.jpg), url(http://i.imgur.com/ngxSQQa.jpg),
        url(http://i.imgur.com/PnFiv9C.jpg), url(http://i.imgur.com/Od0vBmo.jpg), url(http://i.imgur.com/GHtMn5D.jpg), 
        url(http://i.imgur.com/aWJhn4a.jpg), url(http://i.imgur.com/XkU7AFs.gif);
    background-color: white;
    background-position: top left,top center,top right,
        center left,center center,center right,
        bottom left,bottom right;
    background-repeat: no-repeat;
    background-size:40px 40px;
}
.Food5 {
    background: url(http://i.imgur.com/JRRJ9jJ.jpg), url(http://i.imgur.com/dBBbBo6.jpg), url(http://i.imgur.com/cvBpsN7.jpg),
        url(http://i.imgur.com/Am4xs3A.jpg), url(http://i.imgur.com/AkT6TmL.jpg), url(http://i.imgur.com/LcWuMoe.jpg), 
        url(http://i.imgur.com/aWJhn4a.jpg), url(http://i.imgur.com/avXsHHB.jpg);
    background-color: white;
    background-position: top left,top center,top right,
        center left,center center,center right,
        bottom left,bottom right;
    background-repeat: no-repeat;
    background-size:40px 40px;
}
.Food6 {
    background: url(http://i.imgur.com/xfxYvC6.jpg), url(http://i.imgur.com/MXQugSn.jpg), url(http://i.imgur.com/yLqWE8M.jpg),
        url(http://i.imgur.com/YTkAPnZ.jpg), url(http://i.imgur.com/FQBbu4r.jpg), url(http://i.imgur.com/A5u3xCw.png), 
        url(http://i.imgur.com/aWJhn4a.jpg), url(http://i.imgur.com/SRof8Ns.jpg);
    background-color: white;
    background-position: top left,top center,top right,
        center left,center center,center right,
        bottom left,bottom right;
    background-repeat: no-repeat;
    background-size:40px 40px;
}
.Food7 {
    background: url(http://i.imgur.com/Ft7oG6O.jpg), url(http://i.imgur.com/Seswp0B.jpg), url(http://i.imgur.com/Mx7Ig3N.jpg),
        url(http://i.imgur.com/vBVmXNO.jpg), url(http://i.imgur.com/AvTqEqQ.jpg), url(http://i.imgur.com/QVu99XL.jpg), 
        url(http://i.imgur.com/aWJhn4a.jpg), url(http://i.imgur.com/KEui6Np.jpg);
    background-color: white;
    background-position: top left,top center,top right,
        center left,center center,center right,
        bottom left,bottom right;
    background-repeat: no-repeat;
    background-size:40px 40px;
}
.Food8 {
    background: url(http://i.imgur.com/Va2oCNm.jpg), url(http://i.imgur.com/ZV10Ezr.jpg), url(http://i.imgur.com/4JnY8qH.jpg),
        url(http://i.imgur.com/ebL80id.png), url(http://i.imgur.com/xvZQEpU.jpg), url(http://i.imgur.com/cdaG8bZ.jpg), 
        url(http://i.imgur.com/aWJhn4a.jpg), url(http://i.imgur.com/GZqSok1.png);
    background-color: white;
    background-position: top left,top center,top right,
        center left,center center,center right,
        bottom left,bottom right;
    background-repeat: no-repeat;
    background-size:40px 40px;
}
