#background {
    width: 100%; 
    height: 80px; 
    position: fixed; 
    left: 0px; 
    top: 0px;
    z-index: 3;
    background-color: #7092BE;
    background-repeat:repeat;
	    box-shadow:0 0 10px #7DFDFE;
    -webkit-box-shadow:0 0 10px #7DFDFE;
    -moz-box-shadow:0 0 10px #7DFDFE;
}
body{
    background:url('http://i.imgur.com/j41R39S.jpg');
}
.homepage{
    text-align:left; 
    margin-top: 160px;
    margin-left: 60px;
    color:white;
    font-family:Bradley hand ITC;
}
.alignleft {
    float: left;
    text-align:left;
    width:33.33333%;
    position:fixed;
    top:5%; left:7%;
    text-decoration: none;
    font-size:200%;
    color: white;
    font-family:Bradley hand ITC;
    max-width: 100px;
}
.aligncenter {
    float: left;
    text-align:center;
    width:33.33333%;
    position:fixed;
    top:9%;left: 40%;
}
.alignright {
    float: right;
    text-align:right;
    width:33.33333%;
    position:fixed;
    top:4%; right:1%;
}
.test{
    text-decoration: none;       
    padding: 1px 1px 1px 1px;
    background-repeat:repeat;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    color:white;
    font-size:150%; 
    font-family:Bradley hand ITC;
}
.test:hover { 
    box-shadow:0 0 10px #7DFDFE;
    -webkit-box-shadow:0 0 10px #7DFDFE;
    -moz-box-shadow:0 0 10px #7DFDFE;
}
.test1{
    vertical-align: -7px;
    padding-left:-30px;
}
.btn{
    padding-right:0;
    padding: 5px 5px 5px 5px; 
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width:90px; 
    height:30px;
    background-color: white;
    color:#7092BE;
    border: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-family: Bradley hand ITC;
    text-decoration: none; 
    font-size: 16px;
}
.btn:hover {    
    box-shadow:0 0 10px #7DFDFE;
    -webkit-box-shadow:0 0 10px #7DFDFE;
    -moz-box-shadow:0 0 10px #7DFDFE;
}
.btn1 {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    width:50px; 
    height:24px;
    vertical-align:-28px;  
    background: white url('http://i.imgur.com/klvF7Kv.png') no-repeat center;
    background-size: 30px 30px;
}
.btn2 {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    width:50px; 
    height:24px;
    vertical-align:-37px;  
    background: white url('http://i.imgur.com/klvF7Kv.png') no-repeat center;
    background-size: 30px 30px;
}

.stretch {
    width:100%;
    height:100%;
}
br {
    line-height:2px;
} 
.login {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.login:target {
    opacity:1;
    pointer-events: auto;
}

.login > div {
    position: relative;
    top: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    width: 300px;
    height: 300px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    background-color: #7092BE;
    background-repeat:repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    font-family: Bradley hand ITC;
    color: white;
    text-decoration: none;
} 
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;

}
.close:hover { 
    background: #7092BE; 
    box-shadow:0 0 10px #7DFDFE;
    -webkit-box-shadow:0 0 10px #7DFDFE;
    -moz-box-shadow:0 0 10px #7DFDFE;
}
input:focus,textarea:focus,select:focus{
    box-shadow:0 0 10px #7DFDFE;
    -webkit-box-shadow:0 0 10px #7DFDFE;
    -moz-box-shadow:0 0 10px #7DFDFE;
    outline: none !important;
}
input:hover,textarea:hover,select:hover{
    box-shadow:0 0 10px #7DFDFE;
    -webkit-box-shadow:0 0 10px #7DFDFE;
    -moz-box-shadow:0 0 10px #7DFDFE;
    outline: none !important;
}
.register {
    text-decoration: none;   
    position: relative;
    top: 140px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 5px 5px 5px;
    background-color: #7092BE;
    background-repeat:repeat;
    background-position: right; 
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    width: 400px;
    height: 420px;
    font-family: Bradley hand ITC;
    color: white;
    font-size: 150%;
	    box-shadow:0 0 10px #7DFDFE;
    -webkit-box-shadow:0 0 10px #7DFDFE;
    -moz-box-shadow:0 0 10px #7DFDFE;
}
.help {
    text-decoration: none;
    padding-right:0;
    position: relative;
    top: 140px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 5px 5px 5px;
    background-color: #7092BE;
    background-repeat:repeat;
    background-position: right; 
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    width: 400px;
    height: 400px;
    font-family: Bradley hand ITC;
    color:white;
    font-size:150%;
	    box-shadow:0 0 10px #7DFDFE;
    -webkit-box-shadow:0 0 10px #7DFDFE;
    -moz-box-shadow:0 0 10px #7DFDFE;
}
.profile {
    z-index: 1;
    vertical-align: -16px;
    text-decoration: none;
    padding-right:0;
    top: 140px;
    text-align: center;
    float: left;
    width:33.33333%;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 5px 5px 5px;
    background-color: #7092BE;
    background-repeat:repeat;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    width: 250px;
    height: 250px;
    font-family: Bradley hand ITC;
    color:white;
    font-size:120%;
     max-height: 280px;
     border-right: 400px;
     display:table-cell;
	     box-shadow:0 0 10px #7DFDFE;
    -webkit-box-shadow:0 0 10px #7DFDFE;
    -moz-box-shadow:0 0 10px #7DFDFE;
}
.username{
    vertical-align: 10px;
    margin-left: 90px;
    text-align: center;
    font-weight:bolder;
}
.profilePic {
    margin-left: -160px;
    background: url(http://static2.businessinsider.com/image/509802cb69bedd6209000009/nicolas-cage-will-be-in-the-expendables-3.jpg) no-repeat center;
    background-size:70px 70px;
    text-decoration: none;
    width:70px; 
    height:70px;
    display:inline-block;
    box-shadow:0 0 10px #7DFDFE;
    -webkit-box-shadow:0 0 10px #7DFDFE;
    -moz-box-shadow:0 0 10px #7DFDFE;
    outline: none;
    color:#7092BE;
}


.cart {
    text-decoration: none;
    padding-right:0;
   
    border-top-width:  20px;
    position: relative;
    top: 140px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 5px 5px 5px;
    background-color: #7092BE;
    background-repeat:repeat;
    background-position: right; 
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    width: 600px;
    height: 400px;
    font-family: Bradley hand ITC;
    color:white;
    font-size:150%;
	    box-shadow:0 0 10px #7DFDFE;
    -webkit-box-shadow:0 0 10px #7DFDFE;
    -moz-box-shadow:0 0 10px #7DFDFE;
}

textarea {
    width: 200px;
    height: 50px;
    max-width: 400px; 
    max-height: 180px;
    border:0; 
    padding:5px; 
    margin:0 0 20px; 
    -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2); 
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2); 
    border-radius: 3px;
}
select {
    padding: 2px 1px 3px 3px;
    width: 50px;
    border-radius: 2px;
    vertical-align:4px;
    border:0; 
}
input{
    text-align: center;
    width:200px; 
    height:30px;
    border:0; 
}
.goods {
    text-decoration: none;   
    position: relative;
    top: 140px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #7092BE;
    background-repeat:repeat;
    background-position: right; 
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    width: 360px;
    height: 34px;
}
::-webkit-scrollbar { 
    width: 14px; 
    border-radius: 10px;
}  
::-webkit-scrollbar-track {  
    background-color: #7092BE;
}  
::-webkit-scrollbar-thumb {  
    background-color: #ccc;  
}  
::-webkit-scrollbar-thumb:hover {  
    background-color: #aaa;  
}  

.box {
    overflow-y: auto;
    text-decoration: none;   
    position: relative;
    top: 140px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 5px 5px 5px;
    background-color: #7092BE;
    background-repeat:repeat;
    background-position: right; 
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    width: 1000px;
    height: 760px;
	    box-shadow:0 0 10px #7DFDFE;
    -webkit-box-shadow:0 0 10px #7DFDFE;
    -moz-box-shadow:0 0 10px #7DFDFE;

}
.sloth{
    position: fixed;
    top: 2%;left: 1%;
    text-decoration: none;
    width:70px; 
    height:60px;
    content: url(http://i.imgur.com/O23t68w.jpg);
	
}
.clean  { 
    background: white url(http://i.imgur.com/RNNJW57.jpg) no-repeat  center;
    background-size:120px 120px;
    width:140px; 
    height:140px;
    display:inline-block;
    color:#7092BE;
    box-shadow:0 0 10px #7DFDFE;
    -webkit-box-shadow:0 0 10px #7DFDFE;
    -moz-box-shadow:0 0 10px #7DFDFE;
}
.imgText { 
    text-decoration: none;
    margin-top: 38px; 
    text-align:center;
    padding:25px 0 0 0; 
    font-size:90%;
    display:inline-block;
    font-weight:bolder;
}
.imgText1 { 
    text-decoration: none;
    margin-top: 60px; 
    text-align:center;
    padding:25px 0 0 0; 
    font-size:100%;
    display:inline-block;
    font-weight:bolder;
}
.imgText2 { 
    text-decoration: none;
    margin-top: -28px; 
    text-align:center;
    padding:25px 0 0 0; 
    font-size:90%;
    display:inline-block;
    font-weight:bolder;
}
.drink {
    text-decoration: none;
    width:140px; 
    height:140px;
    display:inline-block;
    border:2px solid #fafafa; 
    box-shadow:0 0 10px #7DFDFE;
    -webkit-box-shadow:0 0 10px #7DFDFE;
    -moz-box-shadow:0 0 10px #7DFDFE;
    outline: none;
    color:#7092BE;
}

.drink1 {
 background: url(http://i.imgur.com/azDIMfZ.jpg), url(http://i.imgur.com/HXOaZ9a.jpg), url(http://i.imgur.com/ASWOVeK.png),
 url(http://i.imgur.com/FZLw5My.jpg), url(http://i.imgur.com/hvtDyTz.jpg), url(http://i.imgur.com/hGSc8Nw.png), 
 url(http://i.imgur.com/aWJhn4a.jpg), url(http://i.imgur.com/fJ8zfBN.jpg), url(http://i.imgur.com/1qeYW70.jpg);
	background-color: white;
    background-position: top left,top center,top right,center left,center center,center right,bottom left,bottom center,bottom right;
	background-repeat: no-repeat;
    background-size:40px 40px;
}
.drink2 {
    background: white url(http://i.imgur.com/azDIMfZ.jpg) no-repeat center;
    background-size:90px 90px;
}
.drink3 {
    background: white url(http://i.imgur.com/drPeNkv.jpg) no-repeat center;
    background-size:90px 90px;
}
.drink4 {
    background: white url(http://i.imgur.com/fJ8zfBN.jpg) no-repeat center;
    background-size:90px 90px;
}
.drink5 {
    background: white url(http://i.imgur.com/0R7zVVz.jpg) no-repeat center;
    background-size:90px 90px;
}
.drink6 {
    background: white url(http://i.imgur.com/Gx2pJxI.jpg) no-repeat center;
    background-size:90px 90px;
}
.drink7 {
    background: white url(http://i.imgur.com/MXQugSn.jpg) no-repeat center;
    background-size:90px 90px;
}
.drink8 {
    background: white url(http://i.imgur.com/Seswp0B.jpg) no-repeat center;
    background-size:90px 90px;
}
.drink9 {
    background: white url(http://i.imgur.com/fZ5uwFC.jpg) no-repeat center;
    background-size:90px 90px;
}
.drink10 {
    background: white url(http://i.imgur.com/ZV10Ezr.jpg) no-repeat center;
    background-size:90px 90px;
}
.food {
    width:50px; 
    height:50px;
    display:inline-block;
    border:2px solid #fafafa; 
    box-shadow:0 0 10px #7DFDFE;
    -webkit-box-shadow:0 0 10px #7DFDFE;
    -moz-box-shadow:0 0 10px #7DFDFE;
    outline: none;
    color:#7092BE;
}
.food1 {
    background: white url(http://i.imgur.com/o4ZYFA6.jpg) no-repeat center;
    background-size:50px 50px;
    margin-left:-400px; 
}
.food2 {
    background: white url(http://i.imgur.com/mWS5yeO.jpg) no-repeat center;
    background-size:50px 50px;
    margin-left:-400px; 
}
.food3 {
    background: white url(http://i.imgur.com/yBAg3NV.jpg) no-repeat center;
    background-size:50px 50px;
    margin-left:-400px; 
}
.food4 {
    background: white url(http://i.imgur.com/1qeYW70.jpg) no-repeat center;
    background-size:50px 50px;
    margin-left:-400px; 
}
.food5 {
    background: white url(http://i.imgur.com/FrjkaEU.jpg) no-repeat center;
    background-size:90px 90px;
}
.food6 {
    background: white url(http://i.imgur.com/SRof8Ns.jpg) no-repeat center;
    background-size:90px 90px;
}
.food7 {
    background: white url(http://i.imgur.com/snlRMyS.jpg) no-repeat center;
    background-size:90px 90px;
}
.food8 {
    background: white url(http://i.imgur.com/KEui6Np.jpg) no-repeat center;
    background-size:90px 90px;
}
.food9 {
    background: white url(http://i.imgur.com/7etYqAq.jpg) no-repeat center;
    background-size:90px 90px;
}
.food10 {
    background: white url(http://i.imgur.com/avXsHHB.jpg) no-repeat center;
    background-size:90px 90px;
}
.food11 {
    background: white url(http://i.imgur.com/AvTqEqQ.jpg) no-repeat center;
    background-size:90px 90px;
}
.food12 {
    background: white url(http://i.imgur.com/XkU7AFs.gif) no-repeat center;
    background-size:90px 90px;
}

.sweet {
    width:110px; 
    height:110px;
    display:inline-block;
    border:2px solid #fafafa; 
    box-shadow:0 0 10px #7DFDFE;
    -webkit-box-shadow:0 0 10px #7DFDFE;
    -moz-box-shadow:0 0 10px #7DFDFE;
    outline: none;
    color:#7092BE;
}

.sweet1 {
    background: white url(http://i.imgur.com/zXHp81s.jpg) no-repeat center;
    background-size:100px 100px;
}
.sweet2 {
    background: white url(http://i.imgur.com/HXOaZ9a.jpg) no-repeat center;
    background-size:100px 100px;
}
.sweet3 {
    background: white url(http://i.imgur.com/yLqWE8M.jpg) no-repeat center;
    background-size:100px 100px;
}
.sweet4 {
    background: white url(http://i.imgur.com/cvBpsN7.jpg) no-repeat center;
    background-size:90px 90px;
}
.sweet5 {
    background: white url(http://i.imgur.com/YTkAPnZ.jpg) no-repeat center;
    background-size:100px 100px;
}
.sweet6 {
    background: white url(http://i.imgur.com/hM3UQcX.jpg) no-repeat center;
    background-size:70px 80px;
}
.sweet7 {
    background: white url(http://i.imgur.com/JMDKaQu.jpg) no-repeat center;
    background-size:90px 90px;
}
.sweet8 {
    background: white url(http://i.imgur.com/Mx7Ig3N.jpg) no-repeat center;
    background-size:90px 90px;
}
.sweet9 {
    background: white url(http://i.imgur.com/Am4xs3A.jpg) no-repeat center;
    background-size:90px 90px;
}
.sweet10 {
    background: white url(http://i.imgur.com/ngxSQQa.jpg ) no-repeat center;
    background-size:90px 90px;
}
.sweet11 {
    background: white url(http://i.imgur.com/PnFiv9C.jpg) no-repeat center;
    background-size:80px 80px;
}
.sweet12 {
    background: white url(http://i.imgur.com/aWJhn4a.jpg) no-repeat center;
    background-size:80px 80px;
}
.sweet13 {
    background: white url(http://i.imgur.com/vBVmXNO.jpg) no-repeat center;
    background-size:100px 100px;
}
.sweet14 {
    background: white url(http://i.imgur.com/ebL80id.png) no-repeat center;
    background-size:100px 100px;
}
.sweet15 {
    background: white url(http://i.imgur.com/hGSc8Nw.png) no-repeat center;
    background-size:80px 80px;
}
.sweet16 {
    background: white url(http://i.imgur.com/FyDrMKz.jpg) no-repeat center;
    background-size:80px 80px;
}
.sweet17 {
    background: white url(http://i.imgur.com/190MDJU.jpg) no-repeat center;
    background-size:80px 90px;
}
.sweet18 {
    background: white url(http://i.imgur.com/4PCxPmW.jpg) no-repeat center;
    background-size:80px 90px;
}
.sweet19 {
    background: white url(http://i.imgur.com/ASWOVeK.png) no-repeat center;
    background-size:80px 90px;
}
.sweet20 {
    background: white url(http://i.imgur.com/A5u3xCw.png) no-repeat center;
    background-size:80px 90px;
}
.sweet21 {
    background: white url(http://i.imgur.com/GHtMn5D.jpg) no-repeat center;
    background-size:70px 90px;
}
.sweet22 {
    background: white url(http://i.imgur.com/LcWuMoe.jpg) no-repeat center;
    background-size:80px 90px;
}


.hfood {
    width:110px; 
    height:110px;
    display:inline-block;
    border:2px solid #fafafa; 
    box-shadow:0 0 10px #7DFDFE;
    -webkit-box-shadow:0 0 10px #7DFDFE;
    -moz-box-shadow:0 0 10px #7DFDFE;
    outline: none;
    color:#7092BE;
}

.hfood1 {
    background: white url(http://i.imgur.com/KR2mMFt.jpg) no-repeat center;
    background-size:100px 100px;
}
.hfood2 {
    background: white url(http://i.imgur.com/FZLw5My.jpg) no-repeat center;
    background-size:90px 90px;
}
.hfood3 {
    background: white url(http://i.imgur.com/isIbtR0.jpg) no-repeat center;
    background-size:100px 100px;
}
.hfood4 {
    background: white url(http://i.imgur.com/5s5Op2i.jpg) no-repeat center;
    background-size:100px 100px;
}
.hfood5 {
    background: white url(http://i.imgur.com/Ft7oG6O.jpg) no-repeat center;
    background-size:100px 100px;
}
.hfood6 {
    background: white url(http://i.imgur.com/Va2oCNm.jpg) no-repeat center;
    background-size:80px 90px;
}
.hfood7 {
    background: white url(http://i.imgur.com/JRRJ9jJ.jpg) no-repeat center;
    background-size:90px 90px;
}
.hfood8 {
    background: white url(http://i.imgur.com/xfxYvC6.jpg) no-repeat center;
    background-size:90px 90px;
}
.hfood9 {
    background: white url(http://i.imgur.com/r04xVuf.jpg) no-repeat center;
    background-size:90px 90px;
}
.hfood10 {
    background: white url(http://i.imgur.com/BqHLP6H.jpg) no-repeat center;
    background-size:90px 80px;
}
.hfood11 {
    background: white url(http://i.imgur.com/d1Nvj3V.jpg) no-repeat center;
    background-size:80px 80px;
}
.hfood12 {
    background: white url(http://i.imgur.com/LxUJEZz.jpg) no-repeat center;
    background-size:80px 80px;
}
.hfood13 {
    background: white url(http://i.imgur.com/4JnY8qH.jpg) no-repeat center;
    background-size:100px 100px;
}
.hfood14 {
    background: white url(http://i.imgur.com/ojFYaY4.jpg) no-repeat center;
    background-size:100px 100px;
}
.hfood15 {
    background: white url(http://i.imgur.com/oK97DaZ.jpg) no-repeat center;
    background-size:80px 90px;
}