#background {
    width: 100%; 
    height: 80px; 
    position: fixed; 
    left: 0px; 
    top: 0px;
    z-index: 3; /* Ensure div tag stays behind content; -999 might work, too. */
    background-color: #7092BE;
    background-repeat:repeat;
}
.alignleft {
    float: left;
    text-align:left;
    width:33.33333%;
    position:fixed;
    top:10%; left:1%
}
.aligncenter {
    float: left;
    text-align:center;
    width:33.33333%;
    position:fixed;
    top:10%;left: 40%;
}
.alignright {
    float: right;
    text-align:right;
    width:33.33333%;
    position:fixed;
    top:10%; right:1%
}
.tt {
    overflow:auto;
}
.test{
    text-decoration: none;       
    padding-right:0;
    padding: 5px 5px 5px 5px;
    background-repeat:repeat;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.test:hover { 
    background-color: #ADC0DA;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
.btn{
    padding-right:0;
    padding: 5px 5px 5px 5px; 
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width:90px; 
    height:30px;
    background-image:url('http://i.imgur.com/WvJjCS2.jpg');
    color:white;
    border: none;
}
.btn:hover {    
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.stretch {
    width:100%;
    height:100%;
}

.login {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 500ms ease-in;
    -moz-transition: opacity 500ms ease-in;
    transition: opacity 500ms ease-in;
    pointer-events: none;
}
.login:target {
    opacity:1;
    pointer-events: auto;
}

.login > div {
    position: relative;
    top: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    width: 300px;
    height: 300px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    background-color: #7092BE;
    background-repeat:repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
} 
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;

}
.close:hover { 
    background: #7092BE; 
}
input:focus,textarea:focus,select:focus{
    border:2px solid #fafafa; 
    box-shadow:0 0 10px #7DFDFE;
    -webkit-box-shadow:0 0 10px #7DFDFE;
    -moz-box-shadow:0 0 10px #7DFDFE;
    outline: none;
}
.register {
    text-decoration: none;   
    position: relative;
    top: 140px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 5px 5px 5px;
    background-color: #7092BE;
    background-repeat:repeat;
    background-position: right; 
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    width: 400px;
    height: 400px;
}
.help {
    text-decoration: none;
    padding-right:0;
    position: relative;
    top: 140px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 5px 5px 5px;
    background-color: #7092BE;
    background-repeat:repeat;
    background-position: right; 
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    width: 400px;
    height: 400px;
}

textarea {
    width: 200px;
    height: 50px;
    max-width: 400px; 
    max-height: 200px;
}
select {
    display: inline-block;
    padding: 4px 3px 5px 5px;
    width: 50px;
    border-radius: 2px;
}
.goods {

    text-decoration: none;   
    position: relative;
    top: 140px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #7092BE;
    background-repeat:repeat;
    background-position: right; 
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    width: 470px;
    height: 30px;
}
::-webkit-scrollbar { 
    width: 14px; 
    border-radius: 10px;
}  
::-webkit-scrollbar-track {  
    background-color: #7092BE;
}  
::-webkit-scrollbar-thumb {  
    background-color: #ccc;  
}  
::-webkit-scrollbar-thumb:hover {  
    background-color: #aaa;  
}  

.box {
    overflow-y: auto;
    text-decoration: none;   
    position: relative;
    top: 4px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 5px 5px 5px;
    background-color: #7092BE;
    background-repeat:repeat;
    background-position: right; 
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    width: 460px;
    height: 440px;

}
.imgBox1  { 
    background-image:url("http://wp.hepb.org/wp-content/uploads/2011/08/cleaning-supplies1.jpg");
    background-size:80px 80px;
    width:80px; 
    height:80px;
    display:inline-block;
}
.imgBox2  { 
    background-image:url("http://wp.hepb.org/wp-content/uploads/2011/08/cleaning-supplies1.jpg");
    background-size:80px 80px;
    width:80px; 
    height:80px;
    display:inline-block;
}
.imgBox3  { 
    background-image:url("http://wp.hepb.org/wp-content/uploads/2011/08/cleaning-supplies1.jpg");
    background-size:80px 80px;
    width:80px; 
    height:80px;
    display:inline-block;
}
.imgBox4  { 
    background-image:url("http://wp.hepb.org/wp-content/uploads/2011/08/cleaning-supplies1.jpg");
  background-size:80px 80px;
    width:80px; 
    height:80px;
    display:inline-block;
}
.imgBox5  { 
    background-image:url("http://wp.hepb.org/wp-content/uploads/2011/08/cleaning-supplies1.jpg");
    background-size:80px 80px;
    width:80px; 
    height:80px;
    display:inline-block;
}
.imgText { 
    text-decoration: none;
    text-align:center; 
    margin:0; 
    padding:25px 0 0 0; 
    font-size:80%;
    display:inline-block;
}
.cleaner {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 300ms ease-in;
    -moz-transition: opacity 300ms ease-in;
    transition: opacity 300ms ease-in;
    pointer-events: none;
}
.cleaner:target {
    opacity:1;
    pointer-events: auto;
}

.cleaner > div {
    position: relative;
    top: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    width: 300px;
    height: 300px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    background-color: #7092BE;
    background-repeat:repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}